In [1]:
%reload_ext sql

In [2]:
import os

In [3]:
host = "creditreport.cvvccrp8oiue.us-east-2.rds.amazonaws.com"
database = "postgres"
user = 'postgres' #os.getenv('PROJECT_USER')
password = 'credit1234'#os.getenv('PROJECT_PASSWORD')

In [4]:
user

'postgres'

In [5]:
connection_string = f"postgresql://{user}:{password}@{host}/{database}"
connection_string

'postgresql://postgres:credit1234@creditreport.cvvccrp8oiue.us-east-2.rds.amazonaws.com/postgres'

In [6]:
%sql $connection_string

In [7]:
%%sql 

SELECT * from customers limit 5

 * postgresql://postgres:***@creditreport.cvvccrp8oiue.us-east-2.rds.amazonaws.com/postgres
5 rows affected.

[(5634, 3392, 'Aaron Maashoh', 23, 821000265.0, 'Scientist', 3, 4),
 (5635, 3392, 'Aaron Maashoh', 23, 821000265.0, 'Scientist', 3, 4),
 (5636, 3392, 'Aaron Maashoh', 23, 821000265.0, 'Scientist', 3, 4),
 (5637, 3392, 'Aaron Maashoh', 23, 821000265.0, 'Scientist', 3, 4),
 (5638, 3392, 'Aaron Maashoh', 23, 821000265.0, 'Scientist', 3, 4)]

In [8]:
from sqlalchemy import create_engine

In [9]:
engine = create_engine(connection_string)

In [10]:
from sqlalchemy import inspect

In [11]:
insp = inspect(engine)
insp.get_table_names()

['loan',
 'project_train',
 'project_test',
 'credit_info',
 'customers',
 'account']

In [12]:
import pandas as pd

In [13]:
df = pd.read_sql('SELECT * from customers LIMIT 10', engine)