In [1]:
%reload_ext sql

In [2]:
import os

In [3]:
host = "creditreport.cvvccrp8oiue.us-east-2.rds.amazonaws.com"
database = "postgres"
user = 'postgres' #os.getenv('PROJECT_USER')
password = 'credit1234'#os.getenv('PROJECT_PASSWORD')

In [4]:
user

'postgres'

In [5]:
connection_string = f"postgresql://{user}:{password}@{host}/{database}"
connection_string

'postgresql://postgres:credit1234@creditreport.cvvccrp8oiue.us-east-2.rds.amazonaws.com/postgres'

In [6]:
%sql $connection_string

In [7]:
%%sql 

SELECT * from customers limit 5

 * postgresql://postgres:***@creditreport.cvvccrp8oiue.us-east-2.rds.amazonaws.com/postgres
5 rows affected.

[(5634, 3392, 'Aaron Maashoh', 23, 821000265.0, 'Scientist', 3, 4),
 (5635, 3392, 'Aaron Maashoh', 23, 821000265.0, 'Scientist', 3, 4),
 (5636, 3392, 'Aaron Maashoh', 23, 821000265.0, 'Scientist', 3, 4),
 (5637, 3392, 'Aaron Maashoh', 23, 821000265.0, 'Scientist', 3, 4),
 (5638, 3392, 'Aaron Maashoh', 23, 821000265.0, 'Scientist', 3, 4)]

In [8]:
%%sql 

SELECT * from project_train limit 5

 * postgresql://postgres:***@creditreport.cvvccrp8oiue.us-east-2.rds.amazonaws.com/postgres
5 rows affected.

[(5634, 3392, 1, 'Aaron Maashoh', 23, 821000265.0, 'Scientist', 19114.12, 1824.843333, 3, 4, 3, 4, 'Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan', 3, 7.0, 11.27, 4.0, 'Good', 809.98, 26.82261962, 265.0, 'No', 49.57494921, 80.41529544, 'High_spent_Small_value_payments', 312.4940887, 'Good'),
 (5635, 3392, 2, 'Aaron Maashoh', 23, 821000265.0, 'Scientist', 19114.12, 1824.843333, 3, 4, 3, 4, 'Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan', -1, 4.0, 11.27, 4.0, 'Good', 809.98, 31.94496006, 266.0, 'No', 49.57494921, 118.2802216, 'Low_spent_Large_value_payments', 284.6291625, 'Good'),
 (5636, 3392, 3, 'Aaron Maashoh', 23, 821000265.0, 'Scientist', 19114.12, 1824.843333, 3, 4, 3, 4, 'Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan', 3, 7.0, None, 4.0, 'Good', 809.98, 28.60935202, 267.0, 'No', 49.57494921, 81.69952126, 'Low_spent_Medium_value_payments', 331.2098629, 'Good'),
 (5637, 3392, 4, 'Aaron Maashoh', 23, 821000265.0, 'Scientist', 19114.12, 1824.843333, 3, 4, 3, 4, 'Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan', 5, 4.0, 6.27, 4.0, 'Good', 809.98, 31.37786187, 268.0, 'No', 49.57494921, 199.4580744, 'Low_spent_Small_value_payments', 223.4513097, 'Good'),
 (5638, 3392, 5, 'Aaron Maashoh', 23, 821000265.0, 'Scientist', 19114.12, 1824.843333, 3, 4, 3, 4, 'Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan', 6, 4.0, 11.27, 4.0, 'Good', 809.98, 24.79734691, 269.0, 'No', 49.57494921, 41.42015309, 'High_spent_Medium_value_payments', 341.489231, 'Good')]

In [9]:
from sqlalchemy import create_engine

In [10]:
engine = create_engine(connection_string)

In [11]:
from sqlalchemy import inspect

In [12]:
insp = inspect(engine)
insp.get_table_names()

['loan',
 'project_train',
 'project_test',
 'credit_info',
 'customers',
 'account',
 'income_liabilities']

In [13]:
import pandas as pd

In [14]:
df = pd.read_sql('SELECT * from customers LIMIT 10', engine)